.App {
  height: 100vh;
  position: relative;
  overflow: hidden;

  .actual_font {
    width: 150px;
    position: relative;
    z-index: 2;
  }

  .some {
    background: white;
    padding: 1rem;
    position: absolute;
    top: 0px;
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &::before {
      content: "";
      position: absolute;
      width: 200%;
      top: -100px;
      right: 0px;
      height: 290%;
      background-color: red;
      transform: rotateZ(15deg);
    }
  }

  .beasty {
    fill: #fff;
  }

  .back {
    fill: black;
    position: absolute;
    width: 120%;
    left: -10px;
    top: 0px;
    z-index: 1;
  }

  button {
    position: relative;
    padding: 1em 1.2em;

    .vibe {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      /* background-color: #fd0021; */
      transform: translate(-50%, -50%) scale(2);
      mix-blend-mode: difference;
      pointer-events: none;
      /* transition: 200ms all ease-in-out; */
      z-index: 2;
      opacity: 0;
      fill: red;
    }


    &:hover {
      .beasty {
        fill: #19f3d9;
      }

      .vibe {
        opacity: 1.0;
      }
    }
  }
}
