.App {
  height: 100vh;
  position: relative;

  .some {
    background: white;
    padding: 1rem;
    position: absolute;
    top: 0px;
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  button {
    position: relative;
    padding: 1rem 2rem;

    .vibe {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      /* background-color: #fd0021; */
      transform: translate(-50%, -50%) scale(2);
      mix-blend-mode: difference;
      pointer-events: none;
      /* transition: 200ms all ease-in-out; */
      z-index: 2;
      opacity: 0;
      fill: red;
    }


    &:hover {
      .vibe {
        opacity: 1.0;
      }
    }
  }
}
