.App {
  height: 100vh;
  position: relative;
  overflow: hidden;

  .actual_font {
    width: 150px;
    position: relative;
    z-index: 2;
  }

  .some {
    padding-inline: 1rem;
    padding-block: 10rem;
    position: absolute;
    top: 0px;
    right: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &::before {
      content: "";
      position: absolute;
      width: 170%;
      top: -100px;
      right: 130px;
      height: 290%;
      background-color: rgba(255, 0, 0, 255);
      transform: rotateZ(15deg);
    }
  }

  .beasty {
    fill: #fff;
  }

  .back {
    fill: black;
    position: absolute;
    width: 120%;
    left: -10px;
    top: 0px;
    z-index: 1;
  }

  button {
    position: relative;
    padding: 1em 1.2em;
    background-color: transparent;

    .vibe {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      /* background-color: #fd0021; */
      transform: translate(-50%, -50%) scale(2.2);
      mix-blend-mode: difference;
      pointer-events: none;
      /* transition: 200ms all ease-in-out; */
      z-index: 2;
      opacity: 0;
      fill: red;
    }


    &:hover {
      background-color: white;

      .beasty {
        /* fill: #19f3d9; */
        fill: black;
      }

      .back {
        fill: red;
      }

      .vibe {
        opacity: 1.0;
      }
    }
  }
}
